<div class="navbar bg-base-100 border-b" data-controller="nav" data-nav-path="<%= request.params['type'] %>">
  <div class="w-full max-w-4xl mx-auto flex items-center">
    <div class="flex-none mx-6">
      <%= link_to root_path, class: 'text-xl' do %>
        <span class="">Read</span><span class="font-bold text-primary">X</span>
      <% end %>
    </div>
    <div class="flex-1 flex items-center">
      <%= link_to t('.topics'), 
        root_path, 
        class: "text-lg hover:font-bold hover:text-primary px-4 #{request.path == '/' || request.path.include?('topics') ? 'text-primary' : ''}" %>

      <%= link_to t('.news'), 
        stories_path(type: :fact),
        class: "text-lg hover:font-bold hover:text-primary px-4 #{request.params['type'] == 'fact' ? 'text-primary' : ''}" %>

      <%= link_to t('.opinions'), 
        stories_path(type: :opinion), 
        class: "text-lg hover:font-bold hover:text-primary px-4 #{request.params['type'] == 'opinion' ? 'text-primary' : ''}" %>
    </div>
    <div class="flex-none">
    </div>
  </div>
</div>
