<div class="navbar bg-base-100 border-b" data-controller="nav" data-nav-path="<%= request.params['type'] %>">
  <div class="w-full max-w-4xl mx-auto flex items-center relative">
    <div class="absolute left-0 sm:hidden">
      <details class="dropdown dropdown-start">
        <summary class="btn btn-square btn-ghost">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
        </summary>
        <ul class="p-2 shadow menu dropdown-content z-[1] bg-base-100 rounded-box">
          <li>
            <%= link_to t('.topics'), root_path, class: "whitespace-nowrap" %>
          </li>
          <li>
            <%= link_to t('.daily'), daily_path(type: :fact), class: "whitespace-nowrap" %>
          </li>
          <li>
            <%= link_to t('.news'), stories_path(type: :fact), class: "whitespace-nowrap" %>
          </li>
          <li>
            <%= link_to t('.opinions'), stories_path(type: :opinion), class: "whitespace-nowrap" %>
          </li>
        </ul>
      </details>

      <% if from_mixin_messenger? %>
        <%= link_to "", 
          target: "_blank", 
          class: "btn btn-square btn-ghost",
          data: { 
            controller: 'share-link', 
            share_link_target_value: 'mixin',
            share_link_app_id_value: ReadxBot.api.client_id
          } do %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M7.217 10.907a2.25 2.25 0 100 2.186m0-2.186c.18.324.283.696.283 1.093s-.103.77-.283 1.093m0-2.186l9.566-5.314m-9.566 7.5l9.566 5.314m0 0a2.25 2.25 0 103.935 2.186 2.25 2.25 0 00-3.935-2.186zm0-12.814a2.25 2.25 0 103.933-2.185 2.25 2.25 0 00-3.933 2.185z" />
          </svg>
        <% end %>
      <% end %>
    </div>
    <div class="flex-none mx-auto sm:mx-6">
      <%= link_to root_path, class: 'text-xl' do %>
        <span class="">Read</span><span class="font-bold text-primary">X</span>
      <% end %>
    </div>
    <div class="flex-1 items-center hidden sm:flex">
      <%= link_to t('.topics'), 
        root_path, 
        class: "text-base hover:font-bold hover:text-primary px-4 #{request.path == '/' || request.path.include?('topics') ? 'text-primary' : ''}" %>

      <%= link_to t('.daily'), 
        daily_path,
        class: "text-base hover:font-bold hover:text-primary px-4 #{request.path.include?('daily') ? 'text-primary' : ''}" %>

      <%= link_to t('.news'), 
        stories_path(type: :fact),
        class: "text-base hover:font-bold hover:text-primary px-4 #{request.params['type'] == 'fact' ? 'text-primary' : ''}" %>

      <%= link_to t('.opinions'), 
        stories_path(type: :opinion), 
        class: "text-base hover:font-bold hover:text-primary px-4 #{request.params['type'] == 'opinion' ? 'text-primary' : ''}" %>
    </div>
  </div>
</div>
