<div 
  data-controller="topic" 
  data-topic-active-value="false"
  data-action="click->topic#toggle" 
  id="<%= dom_id topic %>" 
  class="p-4 cursor-pointer">

  <div class="mb-2">
    <%= link_to topic.title_in(current_locale), topic_path(topic), class: 'text-base hover:link hover:text-primary' %>

    <% if topic.published_at < 3.days.ago %>
      <span data-controller="time-format" 
            data-time-format-timestamp-value="<%= topic.published_at.to_i %>" 
        class="text-sm opacity-50">
        <%= topic.published_at %>
      </span>
    <% else %>
      <span class="text-sm opacity-50">
        <%= time_ago_in_words(topic.published_at) %>
      </span>
    <% end %>
  </div>

  <div 
    data-topic-target="summary" 
    class="opacity-70 text-sm/loose sm:line-clamp-3 hidden hover:opacity-100">
    <%= topic.summary_in(current_locale) %>
  </div>

  <div data-topic-target="links" class="hidden mt-6">
    <ul class="list-[square] list-inside">
      <%= render partial: 'stories/link', collection: topic.stories, as: :story %>
    </ul>

    <div class="flex justify-end">
      <%= link_to t('.topic'), topic_path(topic), target: "_blank", class: "text-sm opacity-70 link capitalize" %>
    </div>
  </div>
</div>
