<div 
  data-controller="card" 
  data-card-active-value="false"
  data-action="click->card#toggle" 
  id="<%= dom_id topic %>" 
  class="p-4 cursor-pointer">

  <div class="mb-2">
    <span class="relative text-base sm:hover:link sm:hover:text-primary">
      <%= topic.title %>
      <%= link_to '', topic_path(topic), 
        data: {
          turbo_frame: '_top',
        },
        class: 'absolute inset-0 w-full hidden sm:block' %>
    </span>

    <%= render 'components/datetime', datetime: topic.published_at %>
  </div>

  <div 
    data-card-target="summary" 
    class="opacity-70 text-sm/loose sm:line-clamp-3 hidden hover:opacity-100">
    <%= topic.summary %>
  </div>

  <div data-card-target="links" class="hidden mt-6">
    <ul class="list-[square] list-inside">
      <%= render partial: 'stories/link', collection: topic.stories, as: :story %>
    </ul>

    <div class="flex justify-end">
      <%= link_to t('.detail'), 
        topic_path(topic), 
        data: {
          turbo_frame: '_top',
        },
        class: "text-sm opacity-70 link capitalize" %>
    </div>
  </div>
</div>
