<% cache [topic, current_locale] do %>
  <div 
    data-controller="card" 
    data-card-active-value="false"
    data-action="click->card#toggle" 
    id="<%= dom_id topic %>" 
    class="p-5 cursor-pointer space-y-4">

    <div class="relative">
      <span data-card-target="title" class="text-lg sm:hover:link sm:hover:text-primary">
        <%= topic.title_text %>
        <%= link_to '', topic_path(topic), 
          data: {
            controller: 'prefetch',
            turbo_frame: '_top',
          },
          class: 'absolute inset-0 w-full hidden sm:block' %>
      </span>

      <span class="text-xs opacity-50">
        <%= render 'components/datetime', datetime: topic.created_at %>
      </span>
    </div>

    <div 
      data-card-target="summary" 
      class="opacity-70 text-base/loose sm:line-clamp-3 hidden hover:opacity-100">
      <%= topic.summary_text %>
    </div>

    <div data-card-target="links" class="hidden mt-6">
      <ul class="list-[square] list-inside">
        <%= render partial: 'stories/link', collection: topic.stories, as: :story %>
      </ul>

      <div class="mt-4 border-t sm:border-none flex justify-center sm:justify-end">
        <%= link_to t('.detail'), 
          topic_path(topic), 
          data: {
            controller: 'prefetch',
            turbo_frame: '_top'
          },
          class: "btn btn-block btn-ghost btn-sm sm:btn-link btn-neutral sm:w-[unset] text-sm opacity-70 capitalize" %>
      </div>
    </div>
  </div>
<% end %>
