<div class="w-full max-w-prose mx-auto p-5 bg-white rounded-lg">
  <div class="text-lg/loose font-bold mb-2">
    <%= @topic.title %>
  </div>

  <div class="mb-4">
    <%= render 'components/datetime', datetime: @topic.published_at %>
  </div>

  <div class="mb-6 prose">
    <%= Kramdown::Document.new(@topic.content, input: 'GFM').to_html.html_safe %>
  </div>

  <div class="mb-6">
    <div class="text-base/loose font-bold mb-4">
      <%= t('.media_reports') %>
    </div>
    <ul class="list-[square] list-inside">
      <%= render partial: "stories/link", collection: @topic.stories, as: :story %>
    </ul>
  </div>

  <div class="flex justify-between pt-4 mb-4 border-t">
    <div class="text-sm">
      <%= t('.from') %>:
      <span class="ml-1 font-bold"><%= @topic.source.domain_name %></span>
    </div>
    <%= link_to t('.original_link'), 
      @topic.url, 
      target: '_blank',
      class: 'link text-sm opacity-70' %>
  </div>
</div>
