<div class="w-full max-w-prose mx-auto p-5 bg-white rounded-lg space-y-8">
  <div>
    <div class="text-lg mb-2">
      <%= @story.title_text %>
    </div>

    <div class="">
      <span class="text-sm opacity-70">
        <%= render 'components/datetime', datetime: @story.published_at %>
      </span>
    </div>
  </div>

  <div class="prose">
    <%= @story.summary_text %>
    <%= render 'stories/full_content_button', story: @story if @story.content.length > 300 %>
  </div>

  <% if @story.related_stories.present? %>
    <div class="mb-6">
      <div class="text-base/loose mb-4">
        <%= t('.related') %>
      </div>
      <ul class="list-[square] list-inside">
        <%= render partial: "stories/link", collection: @story.related_stories, as: :story %>
      </ul>
    </div>
  <% end %>

  <div class="flex justify-between pt-4 border-t">
    <div class="text-sm ml-1 font-serif">
      <span class=""><%= t('.from') %>:</span>
      <span class=""><%= @story.domain_name %></span>
    </div>
    <%= link_to t('.original_link'), 
      @story.url, 
      target: '_blank',
      class: 'link text-sm opacity-70' %>
  </div>
</div>
