<!DOCTYPE html>
<html data-theme="autumn">
  <head>
    <%= display_meta_tags site: 'ReadX', og: { title: 'ReadX',  image: image_url('bg.png')}, twitter: { card: 'summary', image: image_url('bg.png')}, description: t('page_description')  %>
    <meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width, user-scalable=no, shrink-to-fit=no, viewport-fit=cover">
    <meta name="theme-color" content="#f2f2f2" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="manifest" crossorigin="use-credentials" href="/manifest.json" />
  </head>

  <% if Rails.env.production? %>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-8GMXH7YLSN"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', "G-8GMXH7YLSN");
    </script>
  <% end %>

  <body>
    <main class="@container/main bg-base-200/30 sm:bg-base-100 min-h-screen drawer lg:drawer-open">
      <input id="main-drawer" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content w-full mx-auto">
        <%= render "components/nav" %>
        <div class="h-[calc(100vh-6.5rem-env(safe-area-inset-bottom))] sm:h-[calc(100vh-4rem)] overflow-y-auto scrollbar-hide">
          <%= yield %>
        </div>
        <%= render "components/tabbar" %>
      </div>

      <div class="drawer-side">
        <label for="main-drawer" class="drawer-overlay"></label>
        <div data-controller="markets">
          <%= turbo_frame_tag 'markets' do %>
            <%= render 'components/markets' %>
          <% end %>
        </div>
      </div>
    </main>

    <%= turbo_frame_tag 'modal' %>

    <template id="loading-template">
      <div data-controller="loading" class="modal modal-middle loading-modal z-50">
        <div class="">
          <div class="mb-4 text-center">
            <div class="loading loading-infinity loading-lg text-primary"></div>
          </div>
          <div data-loading-target="cancelButton" class="hidden">
            <button data-action="loading#hide" class="btn btn-sm btn-primary rounded-full">
              <%= t('cancel') %>
            </button>
          </div>
        </div>
      </div>
    </template>
  </body>
</html>
